.graph-container {
    max-height: 700px;
    max-width: 700px;
    margin: 0 auto;
        /*max-width: 50%;
        display: inline-block;
        vertical-align: middle;*/

    /*@media screen and (min-width: 768px) {
    }*/
}

.alert {
    display: none;
}

.alert--monthly {
    display: none;
}

[data-visible="true"] {
    display: block;
}

.expenses {
    /*@media screen and (min-width: 768px) {
    }*/
        /*max-width: 50%;
        display: inline-block;
        vertical-align: middle;*/
}

.form__label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

.form__input {
    border-radius: 3px;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    box-shadow: none;
}

.form__section {
    margin-bottom: 20px;
}

input[type="number"] {
    height: 36px;
    padding-left: 20px;
    width: 331px;
    border: 1px solid #ccc;
}