.graph-container {
    height: 700px;
    width: 700px;
    /*background-color: red;*/
}

.alert {
    display: none;
}

.alert--monthly {
    display: none;
}

[data-visible="true"] {
    display: block;
}